In [6]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS players
          ([player_no] INTEGER PRIMARY KEY, [player_name] TEXT, [position] TEXT)
          ''')
          
c.execute('''
          INSERT INTO players (player_no, player_name, position)

                VALUES
                (11, 'D. Harris', 'WR'),
                (41, 'A. Kamara', 'RB'),
                (13, 'M. Thomas', 'WR'),
                (7, 'T. Hill', 'QB')
          ''')                     

conn.commit()

In [7]:
# Method 1

sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM players
                               ''', conn)

df = pd.DataFrame(sql_query, columns = ['player_no', 'player_name', 'position'])
print (df)

   player_no player_name position
0          7     T. Hill       QB
1         11   D. Harris       WR
2         13   M. Thomas       WR
3         41   A. Kamara       RB

In [8]:
# Method 2

c.execute('''
          SELECT
          *
          FROM players
          ''')

df = pd.DataFrame(c.fetchall(), columns = ['player_no', 'player_name', 'position'])
print (df)

   player_no player_name position
0          7     T. Hill       QB
1         11   D. Harris       WR
2         13   M. Thomas       WR
3         41   A. Kamara       RB

In [20]:
#subset the SQL query to only wide receivers
c.execute(
        '''
        SELECT *
        FROM players
        WHERE position = 'WR'
        ''')

df_wr = pd.DataFrame(c.fetchall(), columns = ['player_no', 'player_name', 'position'])
df_wr

Tutorial used for inspiration: https://datatofish.com/sql-to-pandas-dataframe/