In [1]:
import numpy as np
import pandas as pd
from dfply import *

In [2]:
df = pd.read_csv("acled_africa.csv")

### 1. What’s the temporal coverage of the data (i.e how many years does it span)?

In [72]:
years = df['year'].drop_duplicates()
years.count()

23

## 2. How many events are recorded for each country?

In [89]:
df.groupby(['country']).size().head()

country
Algeria         7704
Angola          3282
Benin            225
Botswana          65
Burkina Faso    2181
dtype: int64

## 3. How many events are recorded for each year?

In [90]:
df.groupby(['year']).size().head()

year
1997    3209
1998    4546
1999    4882
2000    4166
2001    3604
dtype: int64

## 4. What’s the most common event type in the data?

In [99]:
events = df.groupby(['event_type']).size().reset_index(name='counts')
events = events >> arrange(['counts'], ascending=False)
events[:1]

  event_type  counts
0    Battles   55367

## 5. Which countries had the highest number of reported fatalities?

In [113]:
countries = df >> group_by(X.country) >> summarize(Total = X.fatalities.sum())
countries = countries.sort_values(by='Total', ascending=False)
countries[:1]

  country   Total
1  Angola  143744